.body{
	margin: 0ï¼›
	padding:0;
	display:flex;
	justify-content: center;
	align-items: center;
	background:black;
	height: 100vh;

}
.neon{
	position: relative;
	overflow: hidden;
	filter: brightness(200%);

}
.text{
	background: #000;
	color: #fff;
	font-size: 180px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
	position: relative;
	user-select: none;
}
.text::before{
	content: attr(data-text);
	position: absolute;
	color: #fff;
	filter: blur(0.02em);
	mix-blend-mode: difference;

}
.gradient{
position: absolute;
background: linear-gradient(45deg,red,gold,lightgreen,gold,red);
top: 0
left:0;
right: 0;
bottom: 0;
mix-blend-mode: multiply;
}
.spotlight{
position: absolute;
top: -100%;
left:-100%;
right: 0;
bottom: 0;
background: radial-gradient(circle,white,transparent 25%)
          center /25% 25% radial-gradient(circle,white,black 25%) 
          center /12.5% 12.5%;
 animation: light 5s linear infinite;
 mix-blend-mode: color-dodge;         
}
@keyframes light{
	to{
		transform: translate(50%,50%);
	}
}