body , ul, li{
    margin: 0;
    padding: 0;
}
/* 滚动滑轮长度 */
body{
    height: 1300px;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",Sans-serif;
}
/* 取消ul标签之前所存在的.点 */
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* 上方菜单栏的背景颜色和高度 */
.topbar{
    /* border: 2px solid black; */
    background-color:black;
    height: 40px;
}
/* 整个上方菜单栏的宽度 */
.container{
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 1100px;
}
.container::before , .container::after{
    contain: "";
    display: table;
}
.container::after{
    clear: both;
}
/* 字体颜色 */
.topbar a{
    color: white;
    font-size: 12px;
}
/* 当鼠标放在字上时的颜色 */
.topbar a:hover{
    color:red;
}
.topbar-nav{
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 0;
}
.topbar-nav span{
    font-size: 12px;
    color:black;
    font-family: sans-serif;
    margin: 0.5em;
}
.topbar-info,.topbar-cart{
    float:right;
    height: 40px;
    line-height: 40px;
}
.topbar-cart a {
    display: block;/* 设置块元素*/
    height: 40px;
    line-height: 40px;
    text-align: center;/* 文字居中 */
    width: 120px;
    background-color:black;
}
.topbar-cart a:hover{
    background-color: white;
    color: red;
}
.topbar-cart span{
    margin-left: -4px;
    font-size: 12px; 
}
.topbar-info a{
    float: left;
    padding: 0 5px;
    line-height: 40px;
    height: 40px;
}
.topbar-info span{
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    color:black;
    line-height: 40px;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:white;
    background-size:1600px;
}
.guanyu1{
    margin-top: 20px;
    text-align: center;/* 文字居中 */

}
.guanyu1{
    font-size: 40px;
    color:black;
}
.aa{
    font-size: 30px;
    color:#7B68EE; 
}
.ab{
    font-size: 20px;
    color:black; 
}
.box2{
    margin-top: 40px; 
    margin-left: 100px;
    height: 150px;
    width: 300px;
    /*border: 1px solid #E0FFFF;
    background-color:#E0FFFF;*/
}
.box3{
    margin-top: 40px; 
    margin-left: 400px;
    height: 150px;
    width: 300px;
    /*border: 1px solid #E0FFFF;
    background-color:#E0FFFF;*/
}
.box4{
    margin-top: 40px; 
    margin-left: 400px;
    height: 300px;
    width: 300px;
   /* border: 1px solid #E0FFFF;
    background-color:#E0FFFF;*/
}